{% extends "jobs/base.html" %}

{% block title %}{{ cover.title }}{% endblock %}

{% block content %}
<main>
  <div class="container">


    <h1 class='text-center pt-3'>{{ cover.title }}</h1>
    <br />
    <div class='mx-auto' style="width: 800px;">
      <video class="center" width="800" controls>
        <source src="{{ cover.performance.url }}" type="video/mp4">
          Your browser does not support HTML5 video.
      </video>
    </div>
  </div>

<br />
<a href="/./covers/{{cover.cover_type}}" class="btn btn-dark mx-4">← Back</a>


</main>

{% endblock %}
