{% extends "jobs/base.html" %}

{% block title %}Raghav's Guitar Covers{% endblock %}

{% block content %}
<main>
  <div class="container">

    <h1 class="text-center pt-3">Guitar Covers</h1>
    <br />
    <br />
    <h3>All covers</h3>
    <hr />


    {% for cover in covers.all %}
      {% if cover.cover_type == 'guitarcovers' %}
        <a href="{% url 'coverdetail' cover.id %}"><h4>{{ cover.title }}</h4></a>
        <br />
        <img clas="img-fluid" src= '{{ cover.thumbnail.url }}' height="200" width="300" />
        <br />
        <p>{{ cover.summary }}</p>
        <br />
      {% endif %}
    {% endfor %}
  </div>
</main>
{% endblock %}
