{% extends "jobs/base.html" %}

{% block title %}Raghav's Blog{% endblock %}

{% block content %}
<main>
  <div class="container">

    <h1 class="text-center pt-3">Blog</h1>
    <br />
    <br />
    <h3>Latest Posts</h3>
    <hr />


    {% for blog in blogs.all %}
    <a href="{% url 'blogdetail' blog.id %}"><h4>{{ blog.title }}</h4></a>
    {{ blog.pub_date_clean }}
    <br />
    <img clas="img-fluid" src= '{{ blog.image.url }}' height="200" width="300" />
    <br />
    <p>{{ blog.summary }}</p>
    <br />
    {% endfor %}
  </div>
</main>
{% endblock %}
