{% extends "jobs/base.html" %}

{% load staticfiles %}

{% block title}{% endblock}

{% block content %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Hi, I'm Raghav</h1>
        <p class="lead text-muted">Welcome to my website! I'm an aspiring software developer who loves to play music, read books, and write stories.</p>
        <p>
          <a href="mailto:raghavbali.12@gmail.com" class="btn btn-dark my-2">Email me</a>
        </p>
        <img src="{% static 'raghav.JPG' %}" class='img-fluid' height='200' width='300'/>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for job in jobs.all %}
          <div class="col">
            <div class="card shadow-sm">
              <a href="{% url job.type %}"><img class="card-img-top" height='255' width='255' src="{{ job.image.url }}"></img></a>
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>

</main>
{% endblock %}
